.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-wrapper .form label span {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: silver;
  border-radius: 4px;
}

.main-wrapper .form label span p {
  font-size: 20px !important;
  margin-bottom: 0px !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width : 1000px) {
  .main-wrapper .form label input , .main-wrapper .form label span{
    width: 100% !important;
    font-size: 20px !important;
  }

  .main-wrapper .form label {
    flex-direction: column !important;
  }

  .getresults {
    flex-direction: column !important;
  }
  
  .user-data {
    flex-direction: column;
  }

  .main-wrapper {
    width: 100% !important;
    padding: 20px;
  }
}